<h1>Dashboard</h1>
<% if current_user.is_admin? %>
<%= link_to "Change/Add/Remove Interview Timeslots", interview_admin_path %><BR>
<%= link_to "Change User Roles", "/user_role/edit" %><BR>
<% end %>
<% if !current_user.is_applicant? %>
<%= link_to "Sign Up for Interviews", interview_index_path %><BR>
<% end %>
<% if current_user.is_applicant? %>
	<%= link_to "View My Application", edit_application_submission_path(current_user.application_submission.id) %><BR>
<% end %>
<% if current_user.is_admin? && @owned_forms %>
	<h4>Your Forms:</h4>
	<li>
	<% @owned_forms.each do |o| %>
		<%= link_to o.title, application_form_path(o) %>
	<% end %>
	</li>
<% end %>