<%= form_for @application_submission, url: {action: "update"} do |f| %>
	<% @questions_and_answers.each  do |q| %>
		<%  question = q.keys[0] 
			answer = q.values[0]
		%>
		<div class="question">
			<%= question.text %>
			<div class="answer">
				<%= text_field_tag "answers[" + answer.id.to_s + "]", answer.text %>
			</div>
		</div>
		
	<% end %>
	<%= f.submit "edit" %>
	<%= f.submit "submit" %>
<% end %>