<%= link_to "Back to All Submissions", application_submission_index_path %>
<BR>
	<%= link_to image_tag(@user.image.url(:med)), @user.image.url %>
	<h4>Applicant Name: <%= @user.name %></h4>
	Resume: <%= link_to "Link", @user.resume.url %>
<div class="status">Status:
<% if @application_submission.submitted %>
	Submitted
<% else %>
	Not submitted
<% end %>
</div>
<BR>
<% @questions_and_answers.each do |qa| %>
	<% question = qa.keys[0] 
		answer = qa.values[0]
	%>
	<div class="qa_grouping">
		<span class="question"><%= question.text %></span>
		<span class="answer"><%= answer.text %></span> 
	</div>
<% end %>

<div id="app_rating">
	<h2>Rate</h2>
	<%= form_for @user_rating, url: {action: "update"} do |f| %>
		<%= f.text_area :comment %>
		<%= select_tag(:rating, options_for_select([["1",1],["2",2],["3",3]])) %>
		<%= f.submit %>
	<% end %>
</div>