<h2>All Submissions for <%= @app_form.title %></h2>
<table>
	<tr>
		<td>Rated?</td>
		<td>Application Name</td>
		<td>Submitted Date</td>
		<td>Written Avg Score</td>
		<td>Interview</td>
		<% if current_user.is_admin? %>
		<td>Status</td>
		<td>Action</td>
		<% end %>
	</tr>
	<% @apps.each do |app| %>
		<% interview = Interview.find_by_applicant_id(app.user.id) %>
		<tr>
			<td><%= bool_to_string(app.has_been_rated_by(current_user.id)) %></td>
			<td><%= link_to app.applicant_name, app %></td>
			<td><%= app.created_at.strftime("%b %d") %></td>
			<td><%= app.avg_written_rating %></td>
			<td>
				<% if interview == nil %>
					n/a
				<% else %>
					<%= link_to "link", interview_path(interview.id) %>
				<% end %>
			</td>
			<td>
				<% if current_user.is_admin? %>
					<%= app.round.humanize %>
				<% end %>
			</td>
			<td>
				<% if current_user.is_admin? %>
					<%= form_for app, url: application_submission_path(app), method: :patch do |f| %>
						<% @rounds.each do |name, i| %>
							<%= f.submit name.humanize, name:'round[' + i.to_s + ']', data:{confirm:'Fosho?'} %>
						<% end %>
					<% end %>
				<% end %>
			</td>
		</tr>
	<% end %>
</table>