<% if not @interviews.blank? %>
<h2>All Interviews</h2>
<table>
	<tr>
		<td>id</td>
		<td>Applicant Name</td>
		<td>Interviewer Name</td>
		<td>Datetime</td>
		<td>Location</td>
	</tr>
	<% @interviews.each do |i| %>
	<tr>
		<td><%= link_to i.id, interview_path(i) %></td>
		<td><%= i.applicant_name %></td>
		<td><%= i.interviewer_name %></td>
		<td><%= i.time %></td>
		<td><%= i.location %></td>
	</tr>
	<% end %>
</table>
<% else %>
<p>There are no interviews available.</p>
<% end %>
<h3>Create New Interview Timeslot</h3>
<%= form_for @new_interview, url: {action: :create} do |f| %>
	<%= f.text_field :location, placeholder: "location" %>
	<%= f.datetime_select :time, ampm: true, minute_step: 15 %>
	<%= f.submit %>
<% end %>