<% if not @my_interviews.blank? %>
<h2>Your Interviews</h2>
<table>
	<tr>
		<td>id</td>
		<td>Applicant Name</td>
		<td>Interviewer Name</td>
		<td>Datetime</td>
		<td>Location</td>
		<td>Cancel</td>
	</tr>
	<% @my_interviews.each do |i| %>
	<tr>
		<td><%= link_to i.id, interview_path(i) %></td>
		<td><%= i.applicant_name %></td>
		<td><%= i.interviewer_name %></td>
		<td><%= i.time %></td>
		<td><%= i.location %></td>
		<td><%= link_to "Cancel", interview_cancel_path(i.id) %></td>
	</tr>
	<% end %>
</table>
<% else %>
<p>You don't have any interviews scheduled.</p>
<% end %>
<% if not @interviews.blank? %>
<h2>All Interviews</h2>
<table>
	<tr>
		<td>id</td>
		<td>Applicant Name</td>
		<td>Interviewer Name</td>
		<td>Datetime</td>
		<td>Location</td>
		<td>Sign Up</td>
	</tr>
	<% @interviews.each do |i| %>
	<tr>
		<td><%= link_to i.id, interview_path(i) %></td>
		<td><%= i.applicant_name %></td>
		<td><%= i.interviewer_name %></td>
		<td><%= i.time %></td>
		<td><%= i.location %></td>
		<td><%= link_to "Sign Up", interview_signup_path(i.id) %></td>
	</tr>
	<% end %>
</table>
<% else %>
<p>There are no interviews available.</p>
<% end %>